.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.text {
   font-size: 2rem;
}


.Root{

color: #eee;




}
.Sidebar {
width:100%;
max-width:60vh;
min-width:50vh;
height: 300vh;
background:#7B7770;
margin-left: 20px;
margin-top: 15px;
border-radius: 20px;
z-index: 1;
}




.link{
text-decoration:none; 
color:#FEFEFE;

}

.link:hover{
color:#394A3D;


}





.link-ml{
text-decoration: none; 
color:#FEFEFE;
font-size: 27px;

}


.link-ml:hover{
color:#394A3D;



}


.link-dl{
text-decoration: none;     
color:#FEFEFE;
font-size: 29px;
}


.link-dl:hover{

color:#394A3D;

}

.big {
   font-family: "Courier";
   color: #FEFEFE; 
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 30px;
  line-height: 2;
  z-index: 9999;
}

  

.home{

margin-left: 2.5em;
font-size: 40em;
color: #888;

}


.home:hover{

} 

.about{
color: #222;
margin-left: 2.5em;
font-size: 2rem;

}

.machinelearning{

margin-left: 2.5em;
font-size: 2rem;

}


.deeplearning{

margin-left: 2.5em;
font-size: 2rem;

}





@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
