

.myimg {

  border: 1px solid #626675;
  border-radius: 5px;
  padding: 1px;
  width: 300px;
  margin-left: 70px;
  margin-top: 40px;

}



.shikhar {

  border: 1px solid #7D8984;
  border-radius: 5px;
  padding: 1px;
  width: 300px;
  margin-left: 300px;
  margin-top: 40px;

}





.rectangle{
border-radius: 10px;
width: 1000px;
height: 500px;
background: #3F3E3C;
margin-left: 50px;
}

.frame {
  
border-style: solid;
border-width: 1.5px;
border-radius: 10px;
color: #4c4743;
margin-left: 70px;
width: 900px;
height: 1100px;
}

.code-frame{
border-radius: 6px;
width: 800px;
height: 100px;
background: #538fc6;
margin-left: 50px;
}


.rectangle-about1{
margin-left: 30px;
margin-top: 10px;

border-radius: 5px 30px 20px; 

width: 500px;
height:400px;
background: #3385ff;
border: 5px solid #ffffff;
border-width:0 0 5px;
}


.rectangle-about2{
margin-left: 600px;
margin-top: -400px;
border-radius: 30px 5px 20px 30px;    
width: 400px;
height:500px;
background: #ff0066;
border: 5px solid #ffffff;
border-width:0 0 5px;
}


.paginationPrev{
  font-family: "Courier";
 color: #302f2b;
 margin-left: 400px;
margin-top:  30px;
width: 70px;
background-color: #f7f0dc;
border-radius: 8px;
}

.pageNum{

font-family: "Courier";
color: #99481f;
margin-left: 50px;
font-size: 20px;
text-decoration: none;


 
}

.paginationNext{
  font-family: "Courier";
 color: #302f2b;
 margin-left: 50px;
 margin-top:  30px;
 width: 70px;
 background-color: #f7f0dc;
 border-radius: 8px;


}




