

.myimg {

  border: 1px solid #626675;
  border-radius: 5px;
  padding: 1px;
  width: 300px;
  margin-left: 70px;
  margin-top: 40px;

}




.shikhar {

  border: 1px solid #7D8984;
  border-radius: 5px;
  padding: 1px;
  width: 300px;
  margin-left: 300px;
  margin-top: 40px;

}

.facebook1{
margin-left: 210px;
width: 70px;
height: 70px;
padding-left: 5px;
  
}

.facebook2{
width: 70px;
height: 70px;
margin-left: 170px;
margin-top: 530px;

  
}


.facebook1 img {
    width: 100%;
    height: auto;
}
.facebook2 img{
 width: 100%;
height: auto;

  
}
.linkedin1{
width: 70px;
height: 70px;
margin-left: 300px;
margin-top: -70px;


}


.linkedin1 img{
 width: 100%;
height: auto;

  
}


.linkedin2{
width: 50px;
height: 50px;
margin-left: 300px;
margin-top: -60px;


}


.linkedin2 img{
 width: 100%;
height: auto;

  
}




.rectangle{
 margin-top:40px; 
 margin-left: 50px;
border-radius: 10px;
width: 900px;
height: 400px;
background: #3F3E3C;
overflow:scroll;
}



.rectangle2{
 margin-top:40px; 
 margin-left: 50px;
border-radius: 10px;
width: 500px;
height: 300px;
background: #05f2ff;
overflow:scroll;
}
.rectangle3{
 margin-top:-300px; 
 margin-left: 650px;
border-radius: 10px;
width: 300px;
height: 500px;
background: #325677;
}

.rectangle3 img{
width: 100%;
height: 100%;
border-radius: 10px;
clip: rect(0px,1000px,400px,0px);

}



.frame {
  
border-style: solid;
border-width: 1.5px;
border-radius: 10px;
color: #4c4743;
margin-left: 70px;
width: 900px;
height: 1100px;
}

.code-frame{
border-radius: 6px;
width: 800px;
height: 100px;
background: #538fc6;
margin-left: 50px;
}


.rectangle-about1{
margin-left: 10px;
margin-top: -700px;
border-radius: 15px 60px 30px; 
width: 500px;
height: 500px;
background: #316c72;
overflow-y:scroll;
}


.rectangle-about2{
margin-left: 600px;
margin-top: 0px;   
border-radius:  60px 15px 60px 30px;
width: 400px;
height: 700px;
background: #607039;

}



.paginationPrev{
  font-family: "Courier";
 color: #302f2b;
 margin-left: 400px;
margin-top:  30px;
width: 70px;
background-color: #f7f0dc;
border-radius: 8px;
}

.pageNum{

font-family: "Courier";
color: #99481f;
margin-left: 50px;
font-size: 20px;
text-decoration: none;


 
}

.paginationNext{
  font-family: "Courier";
 color: #302f2b;
 margin-left: 50px;
 margin-top:  30px;
 width: 70px;
 background-color: #f7f0dc;
 border-radius: 8px;


}






