

.myimg {

  border: 1px solid #626675;
  border-radius: 5px;
  padding: 1px;
  width: 300px;
  margin-left: 40px;
  margin-top: 40px;

}



.shikhar {

  border: 1px solid #7D8984;
  border-radius: 5px;
  padding: 1px;
  width: 300px;
  margin-left: 300px;
  margin-top: 40px;

}



.rectangle{
border-radius: 10px;
width: 900px;
height: 500px;
background: #3F3E3C;
margin-left: 50px;
}


.rectangle-about1{
margin-left: 10px;
margin-top: 10px;

border-radius: 5px 30px 20px; 

width: 500px;
height:400px;
background: #3385ff;
border: 5px solid #ffffff;
border-width:0 0 5px;
}


.rectangle-about2{
margin-left: 600px;
margin-top: -400px;
border-radius: 30px 5px 20px 30px;    
width: 400px;
height:500px;
background: #ff0066;
border: 5px solid #ffffff;
border-width:0 0 5px;
}


