
.list{

font-family: "Courier";
color: #2e3747;
font-weight: 900;
font-size: 20px;
  line-height: 2;
  margin-left: 8px;
text-decoration: none;


}
.textStyle{
font-family: "Courier";
font-size: 1.5em;
padding-left: 40px;
padding-right: 30px; 
line-height: 40px;
color:#F8F9F8;
}

.textStyle2{
font-family: "Courier";
font-size: 1.5em;
padding-left: 40px;
padding-right: 30px; 
line-height: 40px;
color:#000;

}


.minitextStyle{
font-family: "Courier";
font-size: 1em;
padding-left: 20px;
padding-right: 30px; 
line-height: 20px;
color:#F8F9F8;


}

.bullet{


color: #eee;
font-size: 20px;
  line-height: 2;
  margin-left: 5px;



}


.list:hover{


color: #cccc00;



}


.ul {
  list-style: none;
 
}


.li {
  
  text-indent: -1em;
}

.li:before {
  content: ">>";
  padding-right: 5px;
}


.codeStyle{
  padding-left:15px;
   padding-top:10px;
  padding-bottom: 10px;
font-family: monospace;
color: #000;
font-size: 18px;

}




