
.list{

font-family: "Courier";
color: #cc9900;
font-size: 20px;
  line-height: 2;
  margin-left: 8px;
text-decoration: none;


}


.bullet{

font-family: "Courier";
color: #cc9900;
font-size: 20px;
  line-height: 2;
  margin-left: 8px;
text-decoration: none;


}

.list:hover{


color: #cccc00;



}


