
.list{

font-family: "Courier";
color: #99481f;
font-size: 20px;
  line-height: 2;
  margin-left: 8px;
text-decoration: none;


}
.textStyle{
font-family: "Courier";
font-size: 1.5em;
margin-left: 40px; 
line-height: 40px;
color:#F8F9F8;
}

.bullet{

font-family: "Courier";
color: #99481f;
font-size: 20px;
  line-height: 2;
  margin-left: 8px;
text-decoration: none;


}

.list:hover{


color: #cccc00;



}


.ul {
  list-style: none;
 
}


.li {
  
  text-indent: -1em;
}

.li:before {
  content: ">>";
  padding-right: 5px;
}




