.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.text {
   font-size: 2rem;
}
.Sidebar {
width: 26vw;
min-width: 26vw;
height: 300vh;
overflow: auto;
background:#ABB4BC;
display: inline-block;
}
.Sidebar:hover{
background:#C0C0C0;


}


.link{

color:#1A4961;

}

.link-ml{

color:#1A4961;
font-size: 27px;

}


.link-dl{
color:#1A4961;
font-size: 29px;
}

.big {
   font-family: "Courier"; 
   color: #222; 
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 30px;
line-height: 2;
}

  

.home{

margin-left: 2.5em;
font-size: 40em;
color: #888;

}


.home:hover{

} 

.about{
color: #222;
margin-left: 2.5em;
font-size: 2rem;

}

.machinelearning{

margin-left: 2.5em;
font-size: 2rem;

}


.deeplearning{

margin-left: 2.5em;
font-size: 2rem;

}





@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
